<div class="fondoindex">
	<div class="page-header gym">
	<h1>GYM</h1>
  
    <blockquote>
        <p>Para ser el número uno, tienes que entrenar como si fueras el número dos.</p>
        <footer>Maurice Green.</footer>
    </blockquote>

</div>

</div>


