// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.crearimagen{

	text-align: center;
}

.campocrear{
	width: 20%;
    height: 42px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    padding: 0 20px 0 50px;
    outline: none;
    text-align: center;
}

.campocrear:focus{
	border: 1.5px solid #FF656C;
   	background: #FFF7DF;

}

.botonguardar{
	background-color: #424245; /* Green */
    border: none;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}
.botonsearch{
	background-color: #FF656C; /* Green */
    border: none;
    color: white;
    padding: 9px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    position: absolute;
    right: 10%;
}
.camposearch{
	width: 15%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    padding: 0 20px 0 50px;
    outline: none;
    position: absolute;
    right: 17%;
}

.camposearch:focus{
	border: 1.5px solid #FF656C;
   	background: #FFF7DF;
}

.usuario{
	position: absolute;
	top: 120px;
	left: 60px;
}
.agregarimagen{
	position: absolute;
	top: 140px;
	right: 35%;
	font-size: 19px;
}
.fotos{
	position: absolute;
	top: 230px;
	left: 8%;
	font-size: 19px;
	text-align: center;
}

.showimagen{
	position: absolute;
	right: 45%;
	top: 40% ;
	text-align: center;
	font-size: 19px;
	color: #4070FF;
}
.eliminareditar{
	position: absolute;
	top: 140px;
	right: 13%;
	font-size: 24px;
}
.ancho{
    width: 100px;
}